.displayContainer{
    padding-left: 0.5rem;
}

.displayContainer ul{
    margin-bottom: 1rem;
}

.displayContainer ul li{

    padding-left: 0.5rem;
    border-left: dashed darkblue 1px;
}

.InfoSpan{
    font-size: 0.8rem;
    font-weight: 300;
}