.cardContainer{
    margin: 1rem auto;
    width: 18rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    align-items: center;

    text-align: center;
    padding-bottom: 0.5rem;

}

@media screen and (min-width: 426px){
    .cardContainer{
        width: 18rem;
    }
}

.cardContainer svg{
    color: cornflowerblue;
    font-size: 10rem;
    border-radius: 5px;
}

.cardContainer img{
    padding-top: 1rem;
    border-radius: 6px;
    max-width: 10rem;
    max-height: 10rem;
}

.cardInfo{

    margin-left: 0.5rem;
    font-size: 1rem;
}

.cardInfo svg{;
    display: inline-block;
    font-size: 1.2rem;

}

.cardInfo a{
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.cardInfo a:hover{
    font-size: 1.3rem;
}