html, body, div, form, input, button, section, nav, ul, li, svg, h1, h2, h3, h4, img{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: #f0f2f5;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}
@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}