.formContainer{
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 426px){
    .formContainer{
        /*margin-top: 10rem;*/
    }
}

.form{
    max-width: 21rem;
    background: #fff;
    text-align: center;

    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);

    border-radius: 6px;
}

.Button{
    display: inline-block;

    background: #42b72a;
    color: #fff;

    width: 55%;

    padding: 0 1rem;
    margin-bottom: 1rem;

    font-size: 1.1rem;
    font-weight: 600;
    line-height: 3rem;


    border: none;
    border-radius: 6px;

    transition: 170ms;
}

.Button:hover{
    opacity: 0.7;
}